@import '../../assets/style/_variable.scss';

.footer-nav {
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--fourth-color);
  padding: 50px;
  gap: 20px;
  ul {
    display: flex;
    gap: 10px;
    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: var(--third-color);
    }
  }
}
