.img-portrait {
  width: 50%;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  img {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .img-portrait {
    max-height: 300px;
    width: 45%;
    margin-top: 50px;
    margin-bottom: 50px;
    img {
      object-fit: contain;
    }
  }
}

@media (max-width: 500px) {
  .img-portrait {
    min-height: 200px;
    max-height: 350px;
    width: 60%;
  }
}
